.calculator{
    border:3px solid black;
    display:flex;
    flex-direction: column;
    width: 16rem;
    height: 22rem;
    background-color: rgb(70,70,70);
    border-radius: 4%;
}


.buttons{

    display:flex;
    flex-wrap:wrap;
    height: 100%;;
}


.button{
    background-color:rgb(190,190,190);
    font-size:1rem;
    border-radius: 15%;;
    margin:0.1px;
    flex:1;
    min-width:3.2rem;
    margin:0.22em;
}

.button:hover{
    background-color: rgb(150,150,150);
}

#zero{
    flex:2.33;
}

.func{
    background-color: rgb(250,160,0);
}

.func:hover{
    background-color: rgb(250,120,0);
}

.display{
    background-color: rgb(150,150,150);
    font-size:2.7rem;
    display: flex;
    justify-content:  flex-end;
    word-wrap:break-word;
    font-family:monospace;
    border:2px solid black;
    min-height: 3rem;
    margin:0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0.5rem;
    align-items: center;
}


body{
    background-color: darkslateblue;
    border:3px solid black;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}